ShapeClient/src/META-INF/wsdl/localhost_8080/Shape_EX10/ShapeServices.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://shapeservices/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://shapeservices/">

<xs:element name="Area" type="tns:Area"/>

<xs:element name="AreaResponse" type="tns:AreaResponse"/>

<xs:element name="CircumFer" type="tns:CircumFer"/>

<xs:element name="CircumFerResponse" type="tns:CircumFerResponse"/>

<xs:complexType name="Area">
<xs:sequence>
<xs:element name="radius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AreaResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CircumFer">
<xs:sequence>
<xs:element name="radius" type="xs:double"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="CircumFerResponse">
<xs:sequence>
<xs:element name="return" type="xs:double"/>
</xs:sequence>
</xs:complexType>
</xs:schema>